@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }

    .navbar {
        padding: 15px 5px;
    }

    .logo img {
        width: 80px;
    }

    .logo h1 {
        margin-left: 5px;
    }

    .menu {
        display: none;

    }

    .hamberger {
        display: block;
    }

    /* ------------------------------- */
    /* banner start here */
    .banner {
        flex-direction: column;
    }
    .left-bar{
        width: 100%;
        padding-top: 30px;
        padding-bottom: 20px;
        
    }
    .right-bar{
        width: 100%;
        padding: 8px;
    }
    .banner-content{
        width: 100%;
        padding-left: 8px;
        
       
    }
    /* --------------------------------- */
/* we are gamer section */
.we-are-gamer-section{
    padding: 10px;
}
.we-are-gamer-main-box{
    flex-direction: column-reverse;
    
   }
   .gamer-img-box{
    width: 100%;
    text-align: center;
}
.gamer-content-box{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.gammer-btn{
    text-align: center;
}
}